<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grafos</title>
</head>
<body >

  <div class="parent-container clearfix">
    <div class="alchemy container-form border-red" id="alchemy"></div>

    <div class="container border-blue">
      <app-form-usuarios *ngIf="tipo === 'usuario'"></app-form-usuarios>
      <app-form-compania *ngIf="tipo === 'compania'"></app-form-compania>
      <app-form-permiso *ngIf="tipo === 'permiso'"></app-form-permiso>
      <app-form-perfil *ngIf="tipo === 'perfil'"></app-form-perfil>
      <app-form-rol *ngIf="tipo === 'rol'"></app-form-rol>
      <app-form-permiso-cuenta *ngIf="tipo === 'permisCuentaMonto'"></app-form-permiso-cuenta>
      <app-form-grupo *ngIf="tipo === 'grupo'"></app-form-grupo>
      <app-form-cuenta *ngIf="tipo === 'cuenta'"></app-form-cuenta>
    </div>

  </div>


</body>
</html>
