<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Grafos</title>


    <script type="txt/javascript" src="../../../../assets/js/permisoSimpleEmpleado.js"></script>
    <script type="txt/javascript" src="../../../../assets/js/d3.js"></script>
    <script type="txt/javascript" src="../../../../assets/js/d3.min.js"></script>


</head>
<body>
    <div #alchemy  class="alchemy" id="alchemy"></div>
</body>
</html>
