<nav class="navbar navbar-expand-sm bg-light navbar-dark"></nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item active" routerLinkactive="active">
      <a class="nav-link" routerLink="/user">Usuarios</a>
    </li>
    <li class="nav-item" routerLinkactive="active">
      <a class="nav-link" routerLink="/perfiles">Perfiles</a>
    </li>
    <li class="nav-item" routerLinkactive="active">
      <a class="nav-link" routerLink="/roles">Roles</a>
    </li>
    <li class="nav-item" routerLinkactive="active">
      <a class="nav-link" routerLink="/facultades">Facultades</a>
    </li>
    <li class="nav-item active" routerLinkactive="active">
      <a class="nav-link" routerLink="/user/graph/permisoUsuario">Graph</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

  </ul>


</nav>
