<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/vendor.css"/>
    <link rel="stylesheet" href="styles/alchemy.css"/>
</head>
<body>
<div class="alchemy" id="alchemy"></div>

<script src="scripts/vendor.js"></script>
<script src="scripts/alchemy.js"></script>


<form>

    <td>
        <a th:href="@{/usuariosAndPermisosGraph/} + ${nombreUsuario}"></a>
    </td>

</form>


<script type="text/javascript">

    var config = {
        dataSource: 'http://127.0.0.1:8887/usuarioAndPermisosGraph.json',
    };

    alchemy = new Alchemy(config);

    console.log(alchemy);

</script>

</body>
</html>