<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="container margen">

  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/user/formUsuario']" routerLinkActive="router-link-active" >Agregar</button>
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/graph/','permisoCuentaMonto']" routerLinkActive="router-link-active" >Grafos</button>
    <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/graph/','permisoCuentaMontoop']" routerLinkActive="router-link-active" >Graph Rogelio</button>
  </div>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>id</th>
      <th>Nombre Permiso</th>
      <th>limite Inferior</th>
      <th>limite Superior</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pcm of lstPermisoCuentaMonto">
      <td>{{pcm.idUsuarioPermisoCuenta}}</td>
      <td>{{pcm.permiso.nombre}}</td>
      <td>{{pcm.limiteInferior}}</td>
      <td>{{pcm.limiteSuperior}}</td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
